<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeadLineView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>992551021EBC7E53004CA268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9925511B1EBC7E54004CA268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992551261EBC7E54004CA268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
